//Start Colors
$primary-color: #29aaef;
$secondary-color:#243d50;
$section-bg: #f6f6f6;
$section-bg2:#ffffff; 
$border-color: #e1e1e1;
$light-color:#f1f1f1;
$light-grey:#efefef;
//End Colors
//Start Font Size
$text-h1 : 50px;
$text-p : 19px;
//End Font Size